header{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #e2e2e2;
}
header div {

    display: flex;
    margin: 1rem;



}
/* Global */
a{
    text-decoration: none;
    color: #000;
}